@import url('https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:wght@400;700&family=Inter:wght@400;700&display=swap');

.login-container {
    display: flex;
    height: 100vh;
    font-family: 'Inter', sans-serif;
}

.login-left {
    flex: 1;
    background-color: var(--color-verde-principal);
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-left img {
    max-width: 70%;
    object-fit: contain;
}

.login-right {
    flex: 1;
    padding: 40px;
    background-color: var(--color-fondo-claro);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.login-title {
    font-weight: 900;
    font-family: 'Averia Serif Libre', serif;
    font-size: 2rem;
    color: #6d3a17;
    margin-bottom: 20px;
    text-align: center;
}

.login-label {
    font-weight: 600;
    margin-bottom: 5px;
    font-size: 1.5rem;
    color: #6d3a17;
    font-family: 'Inter', sans-serif;
}


.input-container {
    display: flex;
    align-items: center;
    background-color: #CBCABE !important;
    border-radius: 10px;
    padding: 12px 15px;
    margin-bottom: 20px;
    width: 100%;
}

.login-input {
    border: none;
    outline: none;
    background-color: transparent;
    flex: 1;
    padding: 8px 5px;
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
}

.input-icon {
    color: #666;
    cursor: pointer;
}

.btn-login {
    width: 400px;
    height: 50px;
    padding: 10px;
    background-color: var(--color-verde-principal);
    color: white;
    border: none;
    border-radius: 20px;
    font-weight: 700;
    font-size: 1.5rem;
    font-family: 'Inter', sans-serif;
    cursor: pointer;
    margin: 10px auto;
    display: block;
}


.btn-login:hover {
    background-color: #2a4d36;
}
